body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
position: relative;
/* background-image: url(./d.jpg); */
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;
align-items: start;
justify-content: start;
padding: 10px;
background-color: #f0f0f000;
  }
  .container {
    margin-top: 40px;
  }
  .page {
    width: 100%;
    max-width: 900px;
    margin-left: 9%;
  }
  .text-center{
    display: flex;
    justify-content: start;
    margin-left: 97px;
    font-size:30px;
    margin-bottom: 20px;
  }
  .paper-textarea {
    width: 46%;
    padding: 15px;
    background-color: #ffffff00;
    border: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.6;
    resize: none;
    
  }
  .pen-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    opacity: 0.5;
  }
  input[type="file"] {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  #b{
    width: 27vw;
    display: flex;
    justify-content:space-between;
  }