<div class="home-container">
  <header>
    <nav>
      <div class="logo">
        <!-- <span id="navhead" style="font-size: 20px;"><pre>Visual Diary</pre></span> -->
      </div>
    </nav>
  </header>
  <main>
    <div class="background">
      <!-- <h1 class="title" >VISUAL DIARY</h1> -->
      <h2 class="tagline">Welcome User</h2>
      <div class="buttons">
        <button class="button" (click)="authService.nav_signin()">LOGIN</button>
        <button class="button" (click)="authService.nav_signup()">REGISTER</button>
      </div>
    </div>
  </main>
</div>
